html,
body {
    margin: 0;
    padding: 0;
}

h1,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#main {
    background: url("https://pixabay.com/get/57e8dc404d5aaf14f6d1867dda6d49214b6ac3e45657784b772f73d49f/texture-1893783_1920.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-family: 'Questrial', sans-serif;
}

#contents {
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#contents h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    margin: 16px;
}

#contents p {
    font-size: 23px;
    margin-bottom: 16px;
}

#contents a {
    display: inline-block;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    transition: all 1s;
}

#contents a:hover {
    background-color:#e74c3c;
}


@media(max-width:769px) {
    #contents h1 {
        font-size: 50px;
    }

    #contents p {
        font-size: 20px;
    }
    
    #contents a {
        font-size: 14px;
    }
    
}
